<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
  </head>

  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left1">
            <div class="left_1-1">
              <img class="" src="images/profile.png" width="156" height="142" />
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left-icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Facebook.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Instagram.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Linkeding.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Twitter.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Youtube.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Dribbble.svg" class="icon-1" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left2">
            <div class="info__wrapper">
              <div class="info__container">
                <p class="info__title">Age:</p>
                <p class="info__info">24</p>
              </div>
              <div class="info__container">
                <p class="info__title">Residence:</p>
                <p class="info__info">BD</p>
              </div>
              <div class="info__container">
                <p class="info__title">Freelance:</p>
                <p class="info__info info_green">Available</p>
              </div>
              <div class="info__container">
                <p class="info__title">Address:</p>
                <p class="info__info">Dhaka, Bangladesh</p>
              </div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left3">
            <h3 class="left3__title">Languages</h3>
            <div class="languages__info">
              <p class="language__name">Bangla</p>
              <p class="language_percent">100%</p>
            </div>
            <img class="languages__img
            " src="images/bangla.png" alt="" />
            <div class="languages__info">
              <p class="language__name">English</p>
              <p class="language_percent">80%</p>
            </div>
            <img class="languages__img
            " src="images/english.png" alt="" />
            <div class="languages__info">
              <p class="language__name">Spanish</p>
              <p class="language_percent">60%</p>
            </div>
            <img class="languages__img
            " src="images/spanish.png" alt="" />
          </div>
          <div class="marginer"></div>
          <div class="left4">
            <p class="skills__title">Skills</p>
            <div class="skills__container">
              <p class="skills__name">Html</p>
              <p class="skills__percent">90%</p>
            </div>
            <img class="skills__img" src="images/html.png" alt="">
            <div class="skills__container">
              <p class="skills__name">Css</p>
              <p class="skills__percent">85%</p>
            </div>
            <img class="skills__img"  src="images/css.png" alt="">
            <div class="skills__container">
              <p class="skills__name">Js</p>
              <p class="skills__percent">80%</p>
            </div>
            <img class="skills__img"  src="images/js.png" alt="">
            <div class="skills__container">
              <p class="skills__name">Php</p>
              <p class="skills__percent">75%</p>
            </div>
            <img class="skills__img"  src="images/php.png" alt="">
            <div class="skills__container">
              <p class="skills__name">WordPress</p>
              <p class="skills__percent">85%</p>
            </div>
            <img class="skills__img"  src="images/wordpress.png" alt="">
          </div>
          <div class="marginer"></div>
          <div class="left5">
            <p class="extra-skills__title">
              Extra Skills
            </p>
            <ul class="extra-skills__list">
              <li class="extra-skills__item">
                <img class="extra-skills__img" src="icon/extra-skills.svg" alt="">
                <p class="extra-skills__text">Bootstrap, Materialize</p>
              </li>
              <li class="extra-skills__item">
                <img class="extra-skills__img" src="icon/extra-skills.svg" alt="">
                <p class="extra-skills__text">Stylus, Sass, Less</p>
              </li>
              <li class="extra-skills__item">
                <img class="extra-skills__img" src="icon/extra-skills.svg" alt="">
                <p class="extra-skills__text">Gulp, Webpack, Grunt</p>
              </li>
              <li class="extra-skills__item">
                <img class="extra-skills__img" src="icon/extra-skills.svg" alt="">
                <p class="extra-skills__text">GIT Knowledge</p>
              </li>
            </ul>
          </div>
          <div class="marginer"></div>
          </div>
          <div class="midd_frame">
          
          </div>
          <div class="right_frame">
            <div>hello</div>
          </div>
        </div>
      
      </div>
    </div>
  </body>
</html>
